// ********************************** MODAL **********************************

.modal {
  position: absolute ;
  top: 0 ;
}

.add {
  background-color: red ;
}
.filter {
  background-color: green ;
}

.modal-body {
  height: 20em ;
}


// ********************************** MODAL **********************************

// ********************************** FILM COMPONENT **********************************

.movie {
  width: 13em;
  text-align: center ;
  margin: 2em 0 0 0 ;


  h3 {
    color: white ;
    font-size: 18px ;
    margin: 1em auto 1em auto ;
  }

  img {
    height: 15em ;
    width: 9em ;
  }

}
// ********************************** FILM COMPONENT **********************************



.viewTitle {
  width: 100% !important ;
  background-color: orange ;
  margin: 0 ;
  height: 2em ;
  color: black ;
  font-style: italic ;
  padding-left: 10px ;
  display: flex ;
  justify-content: space-between ;

  h2 {
    margin: 0 ;
    padding: .3em ;
  }
  
}

.row {
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  width: 100% ;
  margin: 0 ;
  justify-content: space-evenly ;
}
