<div class="viewTitle">
  <h2>
    Films
  </h2>
  
  <button title="Add Film" class="add"   (click)="open(content)">
    🎃
  </button>
</div>

<div class="row"> 
  <div class="movie" *ngFor="let movie of films">
    <h3>
        {{ movie.title }} ({{movie.year}})
    </h3>
    <img src={{movie.image}}/>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    DIMELO WO
  </div>
  
</ng-template>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->